<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flask Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  
</head>
<body>
	 {% with msgs = get_flashed_messages() %}
        {% if msgs %}
          {%- for msg in msgs %}
            <div class="alert alert-info">
              {{ msg }}
            </div>
          {% endfor -%}
        {% endif %}
      {% endwith %}
      
	{% block content %}{% endblock %}
 </body>
</html>
